<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>Seppo - Corporate One Page WordPress Theme</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->
</head>

<body class="page-template-onepage">

    <div class="site-wrapper">

        <div class="doc-loader">
            <img src="images/preloader.gif" alt="Seppo">
        </div>

        <header class="header-holder">
            <div class="menu-wrapper center-relative relative">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="images/PCnestLogoW1.png" alt="Seppo">
                    </a>
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="first-menu-line"></div>
                        <div class="second-menu-line"></div>
                        <div class="third-menu-line"></div>
                    </div>
                </div>

                <div class="menu-holder">
                    <nav id="header-main-menu">
                        <ul class="main-menu sm sm-clean">
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#systemBuild">Sys build</a>
                            </li>
                            <li>
                                <a href="#products">Products</a>
                            </li>
                            <li>
                                <a href="#uptodate">UpToDate</a>
                            </li>
                            <li>
                                <a href="knowbetter.html">KnowBetter</a>
                            </li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
        </header>

        <div id="content" class="site-content center-relative">

            <!-- Home Section -->
            <div id="home" class="section no-page-title">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="content-wrapper">
                        <h1 class="big-text">
                            Technology <br>
                            & Visual Agency
                        </h1>
                        <div class="button-holder text-left">
                            <a href="#portfolio" class="button">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Services Section -->
            <div id="services" class="section">
                <div class="page-title-holder">
                    <h3 class="big-text">
                        Ready To Go
                    </h3>
                </div>
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="content-wrapper">

                        <div class="one_third ">
                            <div class="service-holder">
                                <p class="service-num"></p>
                                <div class="service-txt">
                                    <h4>Preciese</h4>
                                    <p>
                                        Curabitur cursus mattis ligula a maximus pellentesque in purus malesuada
                                        pharetra eros.
                                    </p>
                                    <br>
                                    <div class="button-holder text-left">
                                        <a href="#portfolio" class="button-dot">
                                            <span>MORE</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="one_third ">
                            <div class="service-holder">
                                <p class="service-num"></p>
                                <div class="service-txt">
                                    <h4>Support</h4>
                                    <p>
                                        Est sem integer suscipit enim quis dictum feugiat etiam pellentesque curabitur
                                        donec porttitor.
                                    </p>
                                    <br>
                                    <div class="button-holder text-left">
                                        <a href="#news" class="button-dot">
                                            <span>MORE</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="one_third last">
                            <div class="service-holder">
                                <p class="service-num"></p>
                                <div class="service-txt">
                                    <h4>Responsive</h4>
                                    <p>
                                        Donec vel est sem integer suscipit enim quis lorem posuere vestibulum metus
                                        tempor vitae.
                                    </p>
                                    <br>
                                    <div class="button-holder text-left">
                                        <a href="#contact" class="button-dot">
                                            <span>MORE</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            <!-- About Section -->
            <div id="about" class="section">
                <div class="page-title-holder">
                    <h3 class="entry-title">
                        ABOUT
                    </h3>
                </div>
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="content-wrapper">

                        <div class="one_half">
                            <p class="title-description-up">
                                WHO WE ARE
                            </p>
                            <h2 class="entry-title medium-text">
                                Live up to <br>
                                your creative potential.
                            </h2>
                            <p>
                                Code the energy hidden in matter citizens of distant epochs from which we spring drake
                                equation perga inconspicuous motespatch clean designed code and energy matter.
                            </p>
                            <br>
                            <div class="button-holder text-left">
                                <a href="#portfolio" class="button">
                                    LEARN MORE
                                </a>
                            </div>
                        </div>

                        <div class="one_half last" data-threshold="0 0" data-jarallax-element="120 0">
                            <img src="../digital assets/PC photos/de67ff121702207-1.60cb4c3e13a05.jpg" alt="" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            <!-- News Section -->
    <div id="news" class="section">                   
        <div class="page-title-holder">
            <h3 class="entry-title">
                NEWS             
            </h3>
        </div>
        <div class="section-wrapper block content-1170 center-relative">                                                
            <div class="content-wrapper">
                <div class="blog-holder-scode latest-posts-scode block center-relative">

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select CPU</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>                                          
                        </div>
                        <div>
                            <ul class="compare-list">
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                            </ul>
                        </div>
                    </article>

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select CPU</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>                                              
                        </div>
                        <div>
                            <ul class="compare-list">
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                            </ul>
                        </div>
                    </article>

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select CPU</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>                                              
                        </div>
                        <div>
                            <ul class="compare-list">
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                                <li class="compare-list-item"><h5>5555555</h5></li>
                            </ul>
                        </div>
                    </article>                                                                    
                </div>
                <br>
                <div class="button-holder center-text">
                    <a href="blog.html" class="button">
                        GO TO BLOG
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
            


            <!-- Footer -->
            <footer class="footer">
                <div class="footer-content center-relative">
                    <div class="footer-logo">
                        <img src="images/footer_logo.png" alt="Seppo" />
                    </div>
                    <div class="footer-logo-divider"></div>
                    <div class="footer-mail">
                        <a href="mailto:hello@site.com">hello@cocobasic.com</a>
                    </div>
                    <div class="footer-social-divider"></div>
                    <div class="social-holder">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-behance"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </div>

                    <div class="copyright-holder">
                        © 2018 Seppo HTML Template by <a href="https://cocobasic.com">CocoBasic</a>
                    </div>
                </div>
            </footer>
        </div>

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/tipper.js"></script>
        <script src="js/jarallax.js"></script>
        <script src="js/jarallax-element.min.js"></script>
        <script src='js/imagesloaded.pkgd.js'></script>
        <script src='js/jquery.fitvids.js'></script>
        <script src='js/jquery.smartmenus.min.js'></script>
        <script src='js/isotope.pkgd.js'></script>
        <script src='js/owl.carousel.min.js'></script>
        <script src='js/jquery.sticky-kit.min.js'></script>
        <script src='js/main.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>